<!DOCTYPE html>
<html lang="ja" >
{% load static %}
<link ref="stylesheet" href="{% static 'css/style.css' %}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="container">
        <h2>タスク一覧</h2>
        <p>ここにタスクが表示されます</p>
        <ul>
            {% for task in tasks %}
            <li>{{ task.title}} - {{ task.notes}}</li>
        {% empty %}
            <p>No tasks yet.</p>
        {% endfor %}
        <p><a href = "{% url 'task_create' %}">タスク登録</a></p>

        </ul>
    </body>
</html>
